*{
    margin: 0;
    padding: 0;
}

/* font-family: 'Lato', sans-serif; */

/* ***************** */
/* HEADER PART */
/* ***************** */

header{

width: 90%;

margin: 28px auto;

display: flex;

justify-content: space-between;

align-items: center;
}

/* Logo part */

.logo{

width: 20%;
}
.logo img {
    
}

/* Menu part */

.menu{

width: 40%;
}
.menu ul{
    
list-style: none;
    
display: flex;
    
justify-content: end;
}

.menu ul li {
    
margin-left: 50px;
}

.menu ul li a:hover{
    background-color: #15a4fa;
    border-radius: 3px;
    color: #fff;
}

.menu ul li a {
    
text-decoration: none;
transition: 0.5s all ease-in-out;
text-transform: uppercase;
display: block;
color: #2d3950;
font-size: 16px;
font-family: 'Lato', sans-serif;
font-weight: 600;
padding: 5px 15px;
}

/* ***************** */
/* BANNER PART */
/* ***************** */

.banner{
    background-image: url(../images/header-bg.png);
    min-height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner_content{

width: 33%;

text-align: center;

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);
}
.banner_content h1 {
    
text-transform: uppercase;
    
color: #ffffff;
    
font-size: 90px;
    
padding-bottom: 15px;
font-family: 'Lato', sans-serif;
}
.banner_content span {
    
display: block;
    
height: 2px;
    
width: 100%;
    
background-color: #15a4fa;
}
.banner_content p {
    
color: #fff;
    
margin: 20px 0 35px 0;
    
font-family: 'Lato', sans-serif;
}
.banner_content button{
    
background: transparent;
    
border: 1px solid #15a4fa;
    
padding: 15px 30px;
    
color: #fff;
    
cursor: pointer;
    
border-radius: 3px;
    
transition: 0.5s all ease-in-out;
    
font-family: 'Lato', sans-serif;
}

.banner_content button:hover{
    background-color: #15a4fa;
}

.icon{
    
position: absolute;
    
bottom: 70px;
    
left: 50%;
    
transform: translate(-50%, 0px);
    
color: #fff;
    
font-size: 20px;

animation: updown 1s linear infinite;

animation-direction: alternate;
}

@keyframes updown{
    0%{
        bottom: 70px;
    }
    100%{
        bottom: 40px;
    }
}


